<html>
<head></head>
<body>
 <h1>Here's blog: </h1>
 <hr />
 <% for post in @pos -%>
 <h3><a href = 'http://localhost:3000/blog/post/<%= post.id %>'><%= post.title %></a></h3>
 <p>
 <%= post.postbody %> <br/><br/>
 <i><small><%= post.author %> at <%= post.created_at %></small></i>
 </p>
 <hr />
 <% end %>
 </ body>
</html>