<html>
<head></head>
<body>
 <h1><a href=http://myfb.heroku.com/>Blog</a> > <%= @post.first.title %> </h1>

 <p>
 <%= @post.first.postbody %><br /><br />
 <i><small><%= @post.first.author %> at <%= @post.first.created_at %></small></i>
 </p>
 <% form_tag(:controller => "blog", :action => "comment", :postid => @post.first.id) do -%>
 Имя: <br />
 <%= text_field_tag :name%>
 <br />
 Сообщение: <br />
 <%= text_field_tag :bodycomment%>
 <br />
 <%= submit_tag "Comment" %>
 <% end -%>

 <% form_tag(:controller => "blog", :action => :delete, :postid => @post.first.id, :confirm => "You sure?") do -%>
<%= submit_tag "Delete" %>
<% end -%>


 <p>
 <% form_tag(:controller => 'blog', :action => 'edit', :postid => @post.first.id) do -%>

 Тема: <br />
 <%= text_field_tag :title %>
 <br />
 Пост: <br />
 <%= text_field_tag :postbody %>
 <br />
 <%= submit_tag 'Edit' %>
 <% end -%>
 </p>



 <hr/>
 <% if @comm != nil %>
 <% for com in @comm -%>
 <p>
 <b><%= com.name %><br /></b>
 <%= com.bodycomment %><br />
 <i><small>at <%= com.created_at %></small></i>
 </p>
 <% end %>
 <% end %>
 <hr />
 </body>
</html>